.custom-container {
    display: flex;
    flex-grow: 1; /* Đảm bảo chiều cao tổng thể được điều chỉnh bởi nội dung */
    height: auto; 
    box-sizing: border-box;
}
.no-horizontal-padding {
    padding-left: 0 !important;
    padding-right: 0 !important;
}


/* begin header */
.header {
    width: 100%;
    height: 66px;
    background-color: #044863;
    position: fixed;
    left: 0;
    top: 0;
    box-shadow: 0 0 6px 1px rgba(0, 0, 0, .1);
    z-index: 1000; /* Đảm bảo header luôn nằm trên các phần tử khác */
}

body {
    margin: 0;
    padding-top: 66px; /* Thêm khoảng cách để không bị header che */
    overflow-x: hidden; /* Tắt thanh cuộn ngang */
}

.header-search {
    background-color: #044863;
    padding: 0 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 66px;
    position: relative;
    color: #fff;
    box-shadow: 0 0 6px 1px rgba(0, 0, 0, .1);
    z-index: 1;
}

.btn-search {
    padding: 0 !important;
    background-color: #044863;
    color: #fff !important;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.header-logo {
    width: 100%;
    height: 66px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.header-download_store {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 1;
}

.wrapper-icon-download {
    margin-right: 20px;
}

/* end header */

/* begin left-sidebar */
.left-sidebar {
    background-color: #2a2f33;
    padding: 0 !important;
    height: auto; /* Chỉnh lại thành auto để điều chỉnh theo nội dung */
    display: flex;
    flex-direction: column;
}

.left-sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.left-sidebar-sub-menu > ul > li > a {
    display: block;
    position: relative;
    color: #fff;
    background: #2a2f33;
    text-decoration: none;
    padding: 15px 30px;
}

.left-sidebar-sub-menu > ul > li > a:hover {
    background-color: #fb474a;
}

/* end left-sidebar */

/* begin main-body */
/* Đảm bảo main-body có chiều cao đầy đủ và chiếm phần còn lại */
.main-body {
    background-color: #edeff0;
    padding: 0 !important;
    display: flex;
    flex-direction: column;
    flex-grow: 1; /* Đảm bảo main-body chiếm hết chiều rộng còn lại */
    height: 100%;
}

.form-search {
    display: flex;
    transition: transform 0.5s ease-out, opacity 0.5s ease-out;
    padding: 0 !important;
    position: relative;
    flex-wrap: wrap;
    align-items: stretch;
    transform: translateY(-100%);
    opacity: 0;
    width: 100%;
}

.form-search input {
    width: 80%;
    border-radius: 0;
    border: none;
    padding: 0 25px;
    height: 50px;
    background-color: #fff;
}

.btn-cancel {
    margin: 0 !important;
    color: #fff !important;
    background-color: #dc3545 !important;
    border-radius: 0;
    height: 50px;
    width: 100%;
    display: block;
}

.form-search .input-form {
    width: 100%;
}

/* Khi phần tử có class là form-search cùng với active */
.form-search.active {
    transform: translateY(0);
    opacity: 1;
}

/* begin main-body_content */
/* Chiếm hết chiều cao còn lại giữa form-search và footer */
.main-body_content {
    flex: 1; /* Chiếm toàn bộ không gian còn lại giữa form-search và footer */
    padding: 30px;
    box-sizing: border-box;
    box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    height: auto;
}

/* end main-body_content */

/* begin footer */
.footer {
    flex-shrink: 0;
    height: 60px;
    color: #000;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* end footer */


/* Nút "Back to Top" */
.back-to-top {
    display: none; /* Ẩn nút theo mặc định */
    position: fixed;
    bottom: 40px; /* Vị trí từ dưới cùng của trang */
    right: 40px; /* Vị trí từ bên phải của trang */
    background-color: #044863; /* Màu nền của nút */
    color: #fff; /* Màu chữ */
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    cursor: pointer;
    z-index: 999; /* Đảm bảo nút nằm trên các phần tử khác */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s;
}

.back-to-top:hover {
    background-color: #fb474a; /* Màu nền khi hover */
}

/* begin category  */
.category{
    padding: 1rem;
    margin:  0 auto;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Thêm hiệu ứng đổ bóng nhẹ */
    position: relative; /* Để dễ dàng đặt icon trên ảnh */
}

/* Định dạng cho tiêu đề card-title */
.card-title {
    font-size: 0.9rem; /* Kích thước chữ nhỏ hơn */
    font-weight: bold; /* Chữ đậm */
    color: #000; /* Màu chữ đen */
    /* overflow: hidden; */
    text-overflow: ellipsis;
}

/* Định dạng cho mô tả category-description */
.category-description {
    font-size: 0.8rem; /* Kích thước chữ nhỏ hơn */
    color: #666; /* Màu chữ đen nhạt */
}

/* Định dạng cho thời gian category-publish_time */
.category-publish {
    display: flex;
    align-items: center;
    gap: 5px; /* Khoảng cách giữa icon và chữ */
}

.category-publish_time {
    font-size: 0.75rem; /* Kích thước chữ nhỏ hơn */
    white-space: nowrap; /* Đảm bảo không xuống dòng */
    color: #666; /* Màu chữ xám nhạt hơn */
    margin: 0; /* Xóa bỏ margin mặc định của phần tử p */
}

/* Icon mắt và số lượng xem */
.view-icon {
    position: absolute;
    bottom: -10px; /* Vị trí từ dưới ảnh lên */
    right: -10px; /* Vị trí từ bên phải ảnh qua */
    background-color: #007bff; /* Màu nền xanh */
    color: #fff; /* Màu chữ trắng */
    border-radius: 5px; /* Bo góc */
    padding: 5px 10px;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
}

.view-icon i {
    margin-right: 5px; /* Khoảng cách giữa icon và số */
}
.category-publish_brand img {
    width: 20px; /* Kích thước nhỏ hơn cho logo */
    height: auto; /* Duy trì tỉ lệ khung hình */
}

